.menu{
    background-color: #6DBFC4;
}

.cadre-a-venir{
    background-color:powderblue;
}

.titreAvenir{
    font-weight: 700;
    font-size: 32px;
    line-height: 1em;
    font-size: 30px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    color: #29384c;
}


.image{
    text-align: center;
}

.background-loader{
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 100%;
    position: fixed;
}

.date{
    text-transform : capitalize;
    font-weight: bold;
}

.bloc-right{
    float: right;
}

.bloc-left{
    float: left;
}

.text-left{
    text-align: left;
}

.block-comment{
    padding: 0 15px;
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 4px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #6DBFC4;
    color: #fff;
}

.block-icon-comment{
    background-color: #6DBFC4;
}

img.add-comment {
    width: 16px;
    height: 16px;
    margin: auto;
    margin-right: 1px;
}

