.menu{
    background-color: #fda660;
}

.imageLeft,.imageRight{
    width: 50%;
}
.imageRight{
    float: right;
}

.imageLeft{
    float: left;
}

.imagePhoto{
    width: 100%;
    height: 100%;
    display: block;
    background-position: center center;
    background-size: cover;
    border: 2px solid white;
}

.imagePhoto:before{
    content:'';
    padding:50% 0;
    display:inline-block;
}

.liste-all-photo{
    border: 2px solid white;
}

.center-spinner{
    position: relative;
}

.photo-background{
    min-height: 100%;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
}

.article-photo{
    height: 100%;
    padding-top: 50px;
    margin-top: -50px;
}

.arrow-left,.arrow-right{
    height: 100%;
    width: 75px;
    position: fixed; 
    top: 50px;
}

.arrow-left{
    left: 0;
}

.arrow-right{
    right: 0;
}

.image-arrow{
    width: 43px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -50px;
    bottom: 0;
    opacity: 0.5;
}

.body-photo{
    height: 100%;
    background-color: black;
}

.block-comment-picture {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background: rgba(0, 0, 0, 0.38);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "adobe-garamond-pro";
    font-style: normal;
    padding: 15px;
}

div.block-count-comment-picture {
    margin-right: 10px;
    cursor: pointer;
}

div.block-add-comment-picture {
    padding-left: 10px;
    margin: 0;
    width: auto;
    cursor: pointer;
}

img.add-comment {
    width: 16px;
    height: 16px;
    margin: auto;
    margin-right: 1px;
}

.block-icon-comment{
    padding: 0;
}